# Ignore Visual Studio temporary files, build results, and
# common node modules folders.
#
# Get latest from https://github.com/github/gitignore/blob/main/VisualStudio.gitignore




# Build results
[Bb]in/
[Oo]bj/
#[Ll]og/
#*.packages/

# text files
*.txt

# Ignore temporary files
#.tlog
#.vspscc
#.vscode/
.vs/
#.idea/

# User-specific files
#*.suo
#*.user
#*.userosscache
#*.sln.docstates

# Ignore configuration files
#appsettings*.json

# User-specific files (Mono Auto Generated)
#mono_crash.*

# User-specific files (Visual Studio Code)
#.history
#.vscode/settings.json
#.vscode/tasks.json
#.vscode/launch.json
#.vscode/extensions.json
#.vscode/*.code-snippets
#*.code-workspace

