# Ignore Visual Studio temporary files, build results, and
# common node modules folders.
#
# Get latest from https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates


# User-specific files (Mono Auto Generated)
mono_crash.*

# User-specific files (Visual Studio Code)
.vs/
.history
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-snippets
*.code-workspace

# Build results

**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/
*.log
*.tlog
**.txt